telemetry.postcapitalist.io {
reverse_proxy 127.0.0.1:3000
  log {
    output stdout
  }
}


wss-telemetry.postcapitalist.io {
  reverse_proxy 127.0.0.1:8001
  @websockets {
    header Connection *Upgrade*
    header Upgrade    websocket
  }

  route {
    reverse_proxy /feed 127.0.0.1:8000
  }

  log {
    output stdout
  }
}
